@font-face {
  font-family: NautilusPompilius;
  src: url("fonts/Nautilus.otf");
}

@font-face {
  font-family: ProximaNova;
  src: url("fonts/Proxima\ Nova\ Regular.otf");
}

@font-face {
  font-family: ProximaNovaLight;
  src: url("fonts/Proxima\ Nova\ Light.otf");
  font-weight: light;
}

@font-face {
  font-family: ProximaNovaBold;
  src: url("fonts/Proxima\ Nova\ Bold.otf");
  font-weight: bold;
}

.header {
  background-image: url("../images/banner-background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.mbl-menu-icon,
.mbl-search-icon {
  color: white;
  font-size: 32px;
}

.menus {
  float: left;
}
.mbl-menus-items {
  list-style: none;
  /* background-color: #333; */
}

.mbl-menus-items a,
.menus-items a {
  color: #c6c9c3;
  text-decoration: none;
}

.menus-items {
  list-style: none;
}

.menus-item {
  display: inline-block;
  margin-right: 23px;
  cursor: pointer;
}

.menus-item {
  color: red;
}
.banner-text {
  padding-top: 150px;
  text-align: center;
  padding-bottom: 31px;
}

.header-wrapper {
  padding-top: 9px;
}

.logo-wrapper {
  float: left;
  width: 75%;
  text-align: center;
  /* margin-left: calc((100% - 32px -84px) / 2); */
}

.logo {
  font-family: NautilusPompilius, sans-serif;
  font-size: 32px;
  text-align: center;
  text-decoration: none;
}

.career-btn,
.scroll-btn {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.career-btn {
  width: 209px;
  height: 48px;
}

.scroll-btn {
  /* margin-top: 217px; */
  margin-bottom: 11px;
  width: 121px;
  height: 26px;
}

.search-wrapper {
  float: right;
}

.works-section-header {
  text-align: center;
  text-transform: uppercase;
}

.works-section-subheader {
  display: inline-block;
  text-align: center;
  margin-top: 27px;
}

.work-items-list {
  list-style: none;
}
.work-item {
  margin: 0px auto;
}
.work-item-image-wrapper {
  text-align: center;
  width: 143px;
  height: 143px;
  margin: auto;
  background-image: url("../images/work-bg.png");
}

.work-item-image {
  width: 87px;
  padding-top: 34px;
}

.work-item-title {
  color: #828181;
  font-weight: bold;
}

.work-item-detail {
  color: #828181;
}
.work-item-description {
  text-align: center;
}

.btn-learn-more {
  width: 120px;
  height: 30px;
  outline: none;
  border: none;
  border-radius: 12px;
  background-color: #54d154;
  color: white;
}
.recent-work-section-header {
  text-align: center;
  /* text-transform: uppercase; */
}

.recent-work-section-subheader {
  text-align: center;
  display: block;
}
.recent-works-items {
  list-style: none;
}

.recent-work-catg-item {
  display: inline-block;
}

.recent-work-gallery-items {
  list-style: none;
}

.recent-work-gallery-item {
  display: inline-block;
}

.recent-work-gallery-image-wrapper {
  width: 160px;
  margin: 15px;
}

.recent-work-gallery-items-carousel {
  width: 160px;
  margin: 0px auto;
}

.btn-view-more-work {
  width: 190px;
  height: 40px;
  background-color: #2b9b2b;
  color: white;
  border: none;
  outline: none;
  margin: auto;
  border-radius: 12px;
}
.txt-white {
  color: white;
}

.txt-gray {
  color: #b7b3b3;
}

.txt-green {
  color: #54d154;
}

.bg-white {
  background-color: white;
}

.bg-ghee {
  background-color: #f1e7dc;
}

.bg-green {
  background-color: #2b9b2b;
}

.btn-round {
  border: none;
  outline: none;
  width: 208px;
  border-radius: 12px;
}

@media (min-width: 600px) {
  .work-item {
    width: 180px;
    float: left;
  }
  .scroll-btn {
    margin-top: 217px;
  }
  .recent-work-gallery-items {
    display: block;
  }
  .recent-work-gallery-items-carousel {
    display: none;
  }
}

@media (min-width: 992px) {
  .menus-items {
    display: block;
    padding: 10px;
  }

  .mbl-menu-icon {
    display: none;
  }

  .mbl-search-icon {
    display: none;
  }

  .logo-wrapper {
    width: 58%;
  }

  .search-form {
    display: inline;
  }

  .work-items-wrapper {
    width: 88.196%;
    margin: 0 auto;
  }

  .work-item {
    width: 270px;
    height: 338px;
  }
}
