@font-face {
  font-family: NautilusPompilius;
  src: url("fonts/Nautilus.otf");
}

@font-face {
  font-family: ProximaNova;
  src: url("fonts/Proxima\ Nova\ Regular.otf");
}

@font-face {
  font-family: ProximaNovaLight;
  src: url("fonts/Proxima\ Nova\ Light.otf");
  font-weight: light;
}

@font-face {
  font-family: ProximaNovaBold;
  src: url("fonts/Proxima\ Nova\ Bold.otf");
  font-weight: bold;
}

.header {
  background-image: url("../images/banner-background.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.mbl-menu-icon,
.mbl-search-icon {
  color: white;
  font-size: 32px;
}

.menus {
  float: left;
}
.mbl-menus-items {
  list-style: none;
  /* background-color: #333; */
}

.mbl-menus-items a,
.menus-items a {
  color: #c6c9c3;
  text-decoration: none;
}

.menus-items {
  list-style: none;
}

.menus-item {
  display: inline-block;
  margin-right: 23px;
  cursor: pointer;
}

.menus-item {
  color: red;
}
.banner-text {
  padding-top: 150px;
  text-align: center;
  padding-bottom: 31px;
}

.header-wrapper {
  padding-top: 9px;
  padding-left: 30px;
  padding-right: 30px;
}

.logo-wrapper {
  float: left;
  width: 75%;
  text-align: center;
  /* margin-left: calc((100% - 32px -84px) / 2); */
}

.logo {
  font-family: NautilusPompilius, sans-serif;
  font-size: 32px;
  text-align: center;
  text-decoration: none;
}

.career-btn,
.scroll-btn {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.career-btn {
  width: 209px;
  height: 48px;
}

.scroll-btn {
  margin-top: 217px;
  margin-bottom: 11px;
  width: 121px;
  height: 26px;
}

.search-wrapper {
  float: right;
}

.works-section-header {
  text-align: center;
  text-transform: uppercase;
}

.works-section-subheader {
  text-align: center;
}

.work-item-image-wrapper {
  text-align: center;
}

.work-item-image {
  width: 87px;
  border: 8px solid red;
}
.work-item-description {
  text-align: center;
}
.txt-white {
  color: white;
}

.txt-gray {
  color: #b7b3b3;
}
.bg-ghee {
  background-color: #f1e7dc;
}

.bg-green {
  background-color: #54d154;
}

.btn-round {
  border: none;
  outline: none;
  width: 208px;
  border-radius: 12px;
}

@media (min-width: 992px) {
  .menus-items {
    display: block;
    padding: 10px;
  }

  .mbl-menu-icon {
    display: none;
  }

  .mbl-search-icon {
    display: none;
  }

  .logo-wrapper {
    width: 58%;
  }

  .search-form {
    display: inline;
  }
}
