.features {
   color: $blue-bayoux;
   padding-top: 35px;
   padding-bottom: 35px;

   @include e(title) {
      text-align: center;
      font-size: 44px;
   }

   @include e(content) {
      font-size: 22px;

   }

   li {
      max-width: 386px;
      display: inline-block;
   }
}