.features {
   color: $blue-bayoux;



   padding-top: 35px;
   padding-bottom: 132px;

   @include e(title) {
      font-family: $font-family-title;
      text-align: center;
      font-size: $font-title-sm;
      margin-bottom: 16px;

      @include mq(md) {
         font-size: $font-title-md;
         margin-bottom: 24px;
      }

      @include mq(lg) {
         font-size: $font-title-lg;

      }
   }

   @include e(content) {
      font-size: 22px;
      text-align: center;
      margin: 0 auto;
      max-width: 832px;
      font-size: 22px;
      padding: 20px;

   }

   @include e(list) {

      @include mq(md) {
         padding-top: 88px;
      }

   }

   @include e(image-wrapper) {
      font-size: 60px;
      color: $caribbean-green;
      width: 60px;
      width: 21.25%;
      // padding-right: 24px;
      // margin-right: 15px;
      float: left;
   }

   @include e(description) {
      width: 78%;
      padding-left: 20px;
      vertical-align: top;
      text-align: start;
      float: right;
   }

   @include mq(md) {
      li {
         width: 33%;
         max-width: 386px;
         display: inline-block;
      }
   }

}