.features {
   color: $blue-bayoux;
   padding-top: 35px;
   padding-bottom: 132px;

   @include e(title) {
      text-align: center;
      font-size: 44px;
   }

   @include e(content) {
      font-size: 22px;

   }

   @include e(list) {
      padding-top: 88px;
   }

   @include e(image-wrapper) {
      display: inline-block;
      font-size: 60px;
      color: $caribbean-green;
      padding-right: 33px;
   }

   @include e(description) {
      display: inline-block;
      width: 60%;
      vertical-align: top;
   }


   li {
      max-width: 386px;
      display: inline-block;
   }
}