.footer {

   text-align: center;
   color: $cadet-blue;


   @include e(top) {
      background: $pickled-bluewood;
      padding: 75px 0px;
   }

   @include e(logo) {
      margin-bottom: 10px;
   }

   @include e(header) {
      color: #fff;
      font-size: 16px;
      margin-bottom: 26px;
   }

   @include e(item) {
      float: left;
      margin-top: 10px;
      padding: 10px;

      @include mq(md) {
         width: 50%;
      }

      @include mq(lg) {
         width: 25%;
      }

   }

   @include e(latest-works) {
      display: none;

      @include mq(md) {
         display: block;
      }
   }

   @include e(recent-work-wrapper) {
      max-width: 125px;
      max-height: 85px;
      float: left;
      padding-right: 5px;
      margin-bottom: 5px;
   }

   @include e(bottom) {
      font-size: 14px;
      background: $ebony-clay;
      padding: 36px 0px;
   }


   @include e(copyright-wrapper) {
      float: left;
      text-align: left;
      width: 40%
   }

   @include e(nav) {
      float: right;
      text-align: right;
      width: 40%;
      display: block;

      & li>a {
         color: $cadet-blue;
         // display: inline-block;
      }

      @include mq(md) {
         & ul {
            list-style: circle;
         }

         & li {
            padding: 10px;
            display: inline-block;

         }

      }
   }

   @include e(form) {
      position: relative;
      background-color: $river-bed;
      margin-top: 15px;
      height: 40px;
      border-radius: 5px;
      width: 100%;
      max-width: 270px;
   }

   @include e(input) {
      font-size: 13px;
      color: $regent-gray;
      background-color: $river-bed;
      border: none;
      border-radius: 5px;
      height: 40px;
      width: 175px;

      &:focus {
         outline: none;
      }
   }

   @include e(btn) {
      position: absolute;
      border-radius: 5px;
      background-color: $primary-btn-color;
      color: $white;
      font-size: 12px;
      padding-top: 9px;
      text-align: center;
      height: 30px;
      width: 88px;
      top: 5px;
      right: 5px;
   }



}