.header {
   @include e(top) {
      background-color: $catskill-white;
      font-size: $small-font-size;
      border: 1px solid $gray;
   }

   @include e(contact) {
      display: none;
      width: 100%;
      padding: 14px 0;

      @include mq(md) {
         display: inline-block;
         width: auto;
         float: left;
      }
   }

   @include e(contact-info) {
      display: inline-block;
      margin-right: 30px;

      &:last-child {
         margin-right: 0pxs;
      }

   }

   @include e(social-media) {

      text-align: center;
      width: auto;

      margin: 0px auto;
      list-style: none;
      padding: 14px 0px;

      @include mq(md) {
         display: inline-block;
         float: right;
      }

      li {
         margin-right: 20px;
         display: inline-block;
      }

   }

   @include e(bottom) {
      padding: 38px 0px;
   }

   @include e(logo) {
      margin: 0px auto;
      width: 160px;
      display: inline-block;

      @include mq(lg) {
         float: left;
         margin-right: 58px;
      }
   }

   @include e(nav) {
      display: none;

      @include mq(md) {
         float: left;
         font-size: 12px;
         font-weight: bold;
         text-transform: uppercase;

         li {
            padding: 12px 22px;
            float: left;
         }
      }

      @include mq(lg) {
         display: inline-block;
         font-size: 15px;
      }
   }

   @include e(buttons) {
      // background: transparent;
      vertical-align: -webkit-baseline-middle;
      float: right;
   }

   @include e(ham-menu) {
      display: inline-block;
      padding-right: 17px;

      @include mq(lg) {
         display: none;

      }
   }

   @include e(search) {
      display: inline-block;
      background: transparent;
   }


}