.recent-works {
   text-align: center;
   color: $blue-bayoux;
   background: $athens-gray;
   padding: 134px;

   @include e(header) {
      font-size: 44px;
   }

   @include e(item) {
      display: inline-block;
      max-width: 569px;
   }
}