.main-container-wrapper {
    width: 100%;
    background-color: #f5f5f5;
    min-width: 900px;
}


.top-header {
    padding-top: 20px;
    background-color: #7dd9e8;
    height: 66px;
}

.header-right {
    text-align: center;
}

.header-right-menu {
    list-style: none;

}



.header-right-menu-item {
    display: inline;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: bold;
    text-align: right;
    border-right: 1px solid black;
}

.header-right-menu-item:last-child {
    border-right: none;
}

.bottom-header {
    height: 40px;
    padding-top: 14px;
    background-color: #f5f5f5;
}

.bottom-header-menu {
    margin-left: 35px;
    padding-left: 10px;
    list-style: none;
}

.menu-item {
    display: inline;
    font-size: 12px;
    padding: 14px 15px;
    color: #3b464a;
    font-weight: bold;
}


.bottom-header-notifications {
    list-style: none;
}

.notification-item {
    display: inline;
    padding-left: 33px;
}

.col-left-sidebar {
    width: 194px;
    margin-right: 26px;
}

.col-left-body {
    width: 519px;
    margin-right: 25px;
}

.body {
    margin-top: 46px;
    margin-left: 33px;
}

.footer {
    background-color: #727272;
    color: white;
    height: 46px;
    padding-top: 27px;
    padding-bottom: 18px;
    padding-left: 34px;
}

.main-container {
    width: 1002px;
}