.logo {
    margin-right: 24px;
    margin-left: 33px;
}

.search {
    padding-top: 21px;
}

.username {
    font-size: 12px;
    font-weight: bold;
    text-align: right;
}

.search-button {
    background: url("../images/search-btn.png");
    color: white;
    border: none;
    width: 53px;
    height: 20px;
    font-size: 8px;
}

a {
    color: #3b464a;
    text-decoration: none;
}

.menu-item {}

.body-header {
    font-size: 26px;
}

.subtitle {
    font-size: 12px;
    text-align: center;
}

.entry-button {
    width: 115px;
    height: 17px;
    text-align: center;
    padding-top: 11px;
    background-image: url("../images/gray-button.png");
    /* padding-left: 10px; */
    margin-right: 10px;
}

.entry-button:hover {
    color: white;
    background: url("../images/blue-btn.png") no-repeat;
}

.entry-list {
    list-style: none;
}

.entry-updates {
    font-size: 12px;
}

.entry-item {
    /* height: 101px; */
    margin-bottom: 16px;
    border-bottom: 1px solid #d8d8d8;
    padding: 16px 16px;

}

.entry-title {
    font-size: 12px;
    font-weight: bold;
}

.entry-meta-list {
    list-style: none;

}

.entry-meta-item {
    border-right: 1px bold black;
    font-size: 12px;
    display: inline;

}

.text-blue {
    color: #2fc1da;
    font-weight: bold;
}

.entry-source {
    font-size: 12px;
}

.text-light {
    color: #888888;
    /* font-weight: bold; */
}

.entry-button-selected {
    color: white;
    background: url("../images/blue-btn.png");
}

.text-red {
    color: red;
    /* font-weight: bold; */
}

.subscription-selected {
    color: #94a76f;
    font-weight: bold;
}

.photo {
    width: 70px;
    padding-right: 10px;
}

.footer-items {}

.footer-item {
    float: left;
    margin-left: 30px;
    /* display: inline; */
}

.copyright {
    padding-right: 35px;
}

.recent-searches-list {
    list-style: none;
}

.recent-searches-list-item {
    font-size: 12px;
    padding: 9px;
}

.recent-searches-item-right {
    /* padding-top: 3px; */
    margin-left: 10px;
}

.recent-searches-item-left {
    display: inline-block;
    color: black;
}

.sidebar-header {
    height: 40px;
    color: white;
    padding-top: 15px;
    padding-left: 11px;
    font-size: 12px;
    background-color: #2fc1da;
}

.search-query {
    width: 267px;
    height: 20px;
    font-size: 10px;
    background-image: url("../images/search-bar.png");
    padding-left: 10px;
    text-align: left;
    outline: none;
    border: none;
}