.main-container-wrapper {
  min-width: 560px;
  width: 100%;
}

.top-header {
  padding-top: 20px;
  background-color: #7dd9e8;
  height: 66px;
}

.container {
  width: 93.41%;
  margin: auto;
}

.header-right {
  text-align: center;
  padding-top: 24px;
}

.header-right-menu {
  list-style: none;
  margin-right: auto;
  margin-top: 10px;
  display: none;
}

.body-container-wrapper {
  width: 93.41%;
  margin: auto;
}

.header-right-menu-item {
  display: inline;
  font-size: 12px;
  /* padding: 3px 5px; */
  padding-right: 7px;
  padding-left: 7px;
  font-weight: bold;
  text-align: right;
  border-right: 1px solid black;
}

.header-right-menu-item:last-child {
  border-right: none;
  padding: none;
}

.bottom-header {
  height: 36px;
  /* padding-top: 14px; */
  margin-left: auto;
  margin-right: auto;
  height: 39px;
  /* width: 946px; */
  display: none;
  /* background-color: #f5f5f5; */
}

.bottom-header-menu {
  padding: 10px;
  list-style: none;
}

.bottom-header-notifications {
  padding: 10px;
  list-style: none;
}

.menu-item {
  font-size: 12px;
  margin-right: 34px;
  color: #3b464a;
  font-weight: bold;
  list-style: none;
  display: inline;
}

.notification-item {
  display: inline;
  padding-left: 33px;
}

.mbl-menu {
  padding: 10px;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
}
.mbl-menu-items {
  padding: 10px;
  padding-top: 0px;
  list-style: none;
}

.mbl-menu-item {
  margin: 10px;
}

.col-left {
  width: 60%;
}
.col-left-sidebar {
  display: none;
  width: 194px;
  height: 618px;
  margin-right: 26px;
  background-color: #f5f5f5;
}

.col-right-sidebar {
  background-color: #f5f5f5;
  width: 30%;
  height: 618px;
  display: none;
}

.col-left-body {
  width: 100%;
  /* margin-right: 25px; */
}

.body {
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  width: 100%;
}

.footer {
  background-color: #727272;
  color: white;
  height: 23px;
  font-size: 12px;
  padding-top: 13px;
  padding-bottom: 10px;
  padding-left: 34px;
}

.footer-wrapper {
  /* min-width: 939px; */
  background-color: #727272;
}

.footer-content {
  margin: auto;
  width: 93%;
  margin-top: 32px;
  padding-left: 32px;
  padding-right: 32px;
  padding: 20px 0px;
  color: #d4d4d4;
}

@media (min-width: 768px) {
  .col-right {
    width: 25%;
    display: inline-block;
  }

  .col-left-body {
    width: 100%;
  }

  .col-left {
    width: 72.8%;
  }
  .col-right-sidebar {
    display: inline-block;
    width: 25%;
  }
}

@media (min-width: 992px) {
  .col-left {
    width: 80%;
  }

  .subheader {
    background-color: #f5f5f5;
    height: 40px;
    display: inline-block;
  }

  .col-left-body {
    width: 78%;
  }

  .col-left-sidebar {
    background-color: #f5f5f5;
    width: 18.29%;
    display: inline-block;
    height: 610px;
  }

  .col-right-sidebar {
    width: 14%;
  }
  .mbl-menu-icon {
    display: none;
  }
  .header-right-menu {
    display: initial;
  }
  .bottom-header {
    padding-top: 14px;

    height: 39px;
    display: initial;
    background-color: #f5f5f5;
  }
}
