* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  position: relative;
}
.left {
  float: left;
}

.right {
  float: right;
}

.hide {
  display: none;
}
.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
