* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.carousel-container {
  width: 600px;
  height: 400px;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.carousel-image-wrapper {
  position: absolute;
  left: 0px;
  top: 40px;
}

.carousel-item {
  float: left;
  left: 50px;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}
